  a.video-link {
    text-decoration: none;
    
  }
  
  .video-container {
    display: inline-block;
    margin: 59px;
    text-align: center;
  }
  
  .video-thumb {
    width: 369px;
    height: 208px;
    object-fit: cover;
  }
  
  .video-title {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
  }
  

  .dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    border: solid, white;
    a:link, a:visited {
      background-color: #240d77;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    
    a:hover, a:active {
      background-color: rgb(0, 81, 255);
    }
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .show {display:block;}
  
  #searchMenu {
    display: flex;
    flex-direction: column;
  }
  .results-list{
    list-style-type:none;
    margin:0;
    padding:0;
  }

  .remove-button{
    padding: 5px 0px;
    background-color: red;
    min-width: 100px;
  }

  .hidden {
    display: none;
  }