  .LoginBox {
    text-align: right;
    display: flexbox;
    min-width: 18%;
    height: 230px;
    border: 3px solid rgb(0, 0, 0);
    padding: 50px;
    transform: translate(0%, 200px);
    background-color: #ffffff;
    h1{font-family: 'Zilla Slab', serif !important; font-weight:700;
        text-align:center;
      }
  }



  .inputLabel {
    /*font-family:'Courier New', Courier, monospace; font-weight:500;*/
    font-family: 'Barlow',monospace, sans-serif !important; font-weight:500;
    justify-content: center;
    display:inline-block;
  }


  #LoginButton { 
    text-align: center;
    margin: 0;
    position: relative;
    padding: 15px 32px;
  }
  #flex_parent {
      display: flex;
      justify-content: center;
  
  }
